<h1>IRB Terminal</h1>

<form action="/execute" method="post" data-turbo="false">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <textarea name="code" rows="10" cols="80"><%= params[:code] %></textarea><br>
  <input type="submit" value="Run">
</form>

<% if @output.present? %>
  <canvas id="asciiCanvas"></canvas>

  <script>
    const asciiText = `<%= j @output %>`;

    const canvas = document.getElementById('asciiCanvas');
    const context = canvas.getContext('2d');

    const fontSize = 16;
    const fontFamily = "monospace";
    const lines = asciiText.split("\n");
    const maxLineLength = Math.max(...lines.map(line => line.length));


    canvas.width = maxLineLength * fontSize * 0.6;
    canvas.height = lines.length * fontSize * 1.2;

    context.font = `${fontSize}px ${fontFamily}`;
    context.fillStyle = "black";

    lines.forEach((line, i) => {
      context.fillText(line, 0, (i + 1) * fontSize);
    });

    canvas.style.width = '1300vw';
    canvas.style.height = 'auto';
  </script>
<% end %>
